body {
    /*background: url("./assets/img/background.png") center !important;*/
    /*background-size: cover !important;*/
    height: 100%;
    font-family: Myriad !important;
}

/* width */
::-webkit-scrollbar {
    width: 0 !important;  /* Remove scrollbar space */
    height: 0 !important;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}

.login {
    background-color: #2b5494;
    width: 400px;
}

@media screen and (max-width: 540px) {
    .login {
        width: 100%;
    }
}

@font-face {
    font-family: 'Myriad';
    src: local('Myriad'), url(/visitor/assets/fonts/MYRIADPRO-BOLD.OTF) format('opentype');
}
