body {
    /*background: url("./assets/img/background.png") center !important;*/
    /*background-size: cover !important;*/
    height: 100%;
    font-family: Myriad !important;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}

.login {
    background-color: #2b5494;
    width: 400px;
}

@font-face {
    font-family: 'Myriad';
    src: local('Myriad'), url(./assets/fonts/MYRIADPRO-BOLD.OTF) format('opentype');
}
